/* Prevents swiping left and right away from the page on mobile devices */

html {
  overflow-x: hidden;
}

/* Get the font and style the body element */

@font-face {
  font-family: Liberation Sans;
  src: url(LiberationSans-Regular.ttf);
}

body {
  margin: 0px;
  font-family: Liberation Sans;
  background-color: black;
  font-size: 16px;
}

/* Style the header, footer, and navbar */

footer {
  height: 100px;
}

header, footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#navbar {
  width: 832px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Style the home-icon and its container */

#home-icon-container {
  width: 156px;
  display: flex;
  align-items: center;
}

#home-icon {
  color: white;
  height: 52px;
  padding-left: 16px;
}

/* Style the nav and all its nav-links */

nav {
  display: flex;
  justify-content: center;
}

.nav-link, .nav-link:hover {
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 0 16px 0 16px;
  height: 100px;

  display: flex;
  align-items: center;

  /* Prevent nav-link text from being highlighted */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#projects-nav-link:hover {
  background-color: rgb(0, 50, 30);
}

#projects-nav-link.selected {
  background-color: rgb(0, 120, 72);
}

#gallery-nav-link:hover {
  background-color: rgb(0, 32, 47);
}

#gallery-nav-link.selected {
  background-color: rgb(0, 96, 140);
}

#about-nav-link:hover {
  background-color: rgb(59, 0, 26);
}

#about-nav-link.selected {
  background-color: rgb(140, 0, 60);
}

#contact-nav-link:hover {
  background-color: rgb(46, 33, 0);
}

#contact-nav-link.selected {
  background-color: rgb(140, 100, 0);
}

/* Style the external links and their container */

#external-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.external-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  color: white;
}

.external-link:hover {
  color: gray;
}

/* Style the main element, content-container, and page-title */

main {
  background-color: white;

  display: flex;
  justify-content: center;
}

#content-container {
  width: 800px;
  padding: 16px 16px 16px 16px;
}

#page-title {
  margin-bottom: 32px;
}

/* Style text elements */

h1 {
  font-size: 2.5em;
  margin: 0.5em 0 0.5em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.8em 0 0.8em 0;
  color: #5a5a5a;
}

p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 1.61803;
  margin: 0.9em 0 0.9em 0;
}

a {
  color: rgb(0, 137, 201);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 111, 163);
  text-decoration: underline;
}

.under-construction-notice {
  color: white;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 16px;
}

.centered {
  text-align: center;
}

/* Define a color palette */

.accent1 {
  color: rgb(0, 120, 72);
}

.accent2 {
  color: rgb(0, 96, 140);
}

.accent3 {
  color: rgb(140, 0, 60);
}

.accent4 {
  color: rgb(140, 100, 0);
}

/* Style elements on the project page */
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 16px;
  text-decoration: none;
}

a.project {
  width: 248px;
  height: 248px;
  background-color: thistle;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  border: solid 4px rgb(0, 120, 72);
  text-decoration: inherit; /* Inherits text-decoration from .projects-container parent to override the a element default underline */
}

.project-title-container {
  background: linear-gradient(rgba(0, 0, 0, 0), black);
  width: 100%;
  line-height: 48px;
  font-size: 24px;
  font-weight: bold;
  padding-left: 8px;
  color: white;
}

.project:hover .project-title-container {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 120, 72));
}

/* Provide background images for projects */

#project-cc2022 {
  background-image: url(project-cc2022.png);
}

/* Adjust styles for smaller screens */

@media only screen and (max-width: 660px) {
  #navbar {
    flex-direction: column;
  }

  #home-icon-container {
    margin: 16px 0 16px 0;
    justify-content: center;
  }

  #home-icon {
    padding-left: 0px;
  }

  .nav-link, .nav-link:hover {
    height: 32px;
  }
}